strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; margin: 0px } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } body *{box-sizing: border-box} html{ scroll-behavior: smooth }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  GENERAL                                                                ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

body{
  height: 100vh; 
  overflow: hidden
}

svg path.s,
svg polyline.s,
svg polygon.s,
svg circle.s{ fill: none }


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  MAIN NAVIGATION                                                        ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav{
  position: fixed;
}

nav.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px; left: 0px;
  width: 100%;
  padding: 8px;
  z-index: 99;
}

nav.top a:hover,
nav.top button:hover{
animation: jiggleSvg .2s linear 0s infinite;
cursor: pointer;
}

nav.top h1{
width: calc(25vw - 16px);
  min-width: 88px;
  max-width: 120px;
margin: 0;
font-family: 'Comfortaa', sans-serif;
font-size: 1.25em;
}

nav.top h1 a{
display: block;
width: 100%;
}

nav.top h1 svg{
display: block;
width: 100%;
}

nav.top ul.socials{
display: flex;
height: 100%;
}

nav.top ul.socials a{
display: block;
height: 32px;
}

nav.top ul.socials svg{
height: 32px;
}

nav.top .cart-container{
position: relative;
width: calc(25vw - 16px);
  max-width: 120px;
text-align: right;
}

nav.top .cart-container .item-count{
position: absolute;
top: -6px; right: 48px;
padding: 4px 8px;
border-radius: 3px;
font-family: 'Varela Round', sans-serif;
}

nav.top .cart-container .item-count::before{
content: '';
position: absolute;
top: calc(50% - 4px); right: -4px;
width: 8px; height: 8px;
transform: rotate(45deg);
}

nav.top .cart-container button{
  background: none;
  border: none;
  padding: 0px;
  margin: 0;
  height: 40px;
}

nav.top button svg{
  height: 40px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  DRAW ZONE                                                              ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.main-content{
  display: flex;
    justify-content: space-between;
    flex-direction: column;
  width: 100%;
  height: 100%;
}

.draw-zone{
  width: 75%;
  height: 100%;
  margin: 0 auto;
  transition: width .2s linear, height .2s linear;
}

body[data-state='shop'] .draw-zone{ 
  height: 32vh;
  padding-top: 12vh;
}

body[data-state='shop'] nav.doodle-selector .mobile-selector ul{ top: 8vh; transform: scale(.75) }

@media (min-width: 1250px){
  .main-content{ 
    flex-direction: row;
    flex-wrap: wrap 
  }
  .draw-zone{ width: 50% }

  body[data-state='shop'] .draw-zone{ height: 100vh }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  DOODLES                                                                ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.draw-zone .doodle{
  display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  height: 100%;
  max-width: 350px;
  margin: 0 auto;

  transition: transform .2s linear;
}

.draw-zone svg{
    justify-content: center;
    align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px){
  .draw-zone .doodle{
    max-width: 500px;
  }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  KRILL MEAT LOGO                                                        ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.draw-zone .doodle[data-current='krill'] svg .s{
  stroke-width: 12px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  WORM                                                                   ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.draw-zone .doodle[data-current='worm'] svg .s{
  stroke-width: 12px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  SUNSHINE                                                               ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.draw-zone .doodle[data-current='sunshine'] svg .s{
  stroke-width: 12px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  SMILES                                                                 ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.draw-zone .doodle[data-current='smiles'] svg .s{
  stroke-width: 12px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  DOODLE SELECTOR NAV                                                    ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.doodle-selector{ position: relative }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  DESKTOP SELECTOR                                                       ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.doodle-selector ul.desktop-selector{
  position: absolute;
  top:0px; left: 0px;
  width: 100px;
  height: 100vh;
  display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  padding-bottom: 16px;
  transform: scale(.8)
}

nav.doodle-selector ul.desktop-selector li{

}

nav.doodle-selector ul.desktop-selector li button{
    padding: 8px;
    width: 90px; height: 90px;
    background: none;
    border: none;
}

nav.doodle-selector ul.desktop-selector li button:hover{
    animation: jiggleSvg .2s linear 0s infinite;
}

nav.doodle-selector ul.desktop-selector li button img{
    width: 100%;
}

@media (min-width: 1250px){
  nav.doodle-selector ul.desktop-selector{ display: flex }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MOBILE SELECTOR                                                        ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.doodle-selector .mobile-selector ul{
  position: fixed;
    align-items: center;
  top: 20vh; left: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav.doodle-selector .mobile-selector ul li{ margin: 0 4px }

nav.doodle-selector .mobile-selector ul li button{
  border: none;
  background: none;
  font-size: 2em;
  border: none;
    border-radius: 50%;
  padding: 0;
    padding-top: 4px;
  line-height: .4;
}

nav.doodle-selector .mobile-selector ul li button:hover{
  animation: jiggleSvg .2s linear 0s infinite;
}

nav.doodle-selector .mobile-selector ul li button[data-status='selected']{
  padding-top: 0;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MOBILE SELECTOR - ARROWS                                               ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.doodle-selector .mobile-selector button.left,
nav.doodle-selector .mobile-selector button.right{
  position: fixed;
  top: calc(72vh - 32px);
  padding: 2px;
  background: none;
  border: none;
  transition: top .2s linear;
  z-index: 999;
}

body[data-state='shop'] nav.doodle-selector .mobile-selector button.left,
body[data-state='shop'] nav.doodle-selector .mobile-selector button.right{
  top: calc(22vh - 32px);
}

nav.doodle-selector .mobile-selector button.left svg,
nav.doodle-selector .mobile-selector button.right svg{
  width: 48px;
}

nav.doodle-selector .mobile-selector button.left svg *,
nav.doodle-selector .mobile-selector button.right svg *{
  stroke-width: 28px;
}

nav.doodle-selector .mobile-selector button.left{
  left: 32vw;
  transform: scaleX(-1);
}

body[data-state='shop'] nav.doodle-selector .mobile-selector button.left{ left: 0px }
body[data-state='shop'] nav.doodle-selector .mobile-selector button.right{ right: 0px }

nav.doodle-selector .mobile-selector button.right{
  right: 32vw;
}

@media (min-width: 500px){
  nav.doodle-selector .mobile-selector button.left,
  nav.doodle-selector .mobile-selector button.right{ top: calc(50vh - 32px); }
  
  nav.doodle-selector .mobile-selector button.left{ left: 0 }
  nav.doodle-selector .mobile-selector button.right{ right: 0 }
}

@media (min-width: 800px){
  nav.doodle-selector .mobile-selector{ display: none }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  SHOP ZONE                                                              ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.shop-zone{
  width: calc(100% - 24px);
  height: 0vh;
  margin: 0 8px 0 16px;
  overflow: hidden;
  transition: height .2s linear;
}

.shop-zone::-webkit-scrollbar{
  border: none;
  width: 5px;
  background: none;
}
.shop-zone::-webkit-scrollbar-button{
  display: none;
}
.shop-zone::-webkit-scrollbar{
  background: none;
  border: none;
}
.shop-zone::-webkit-scrollbar-thumb{
  border-radius: 4px;
}

body[data-state='shop'] .shop-zone{
  width: calc(100% - 24px);
  height:68vh;
  margin: 0 8px 0 16px;
  overflow: scroll;
}

@media (min-width: 1250px){
  .shop-zone{ width: 0%; height: 100%; transition: width .2s linear }
  body[data-state='shop'] .shop-zone{
    display: flex;
      justify-content: space-between;
    width: calc(49% - 24px);
    height: 100%;
    padding-top: 80px;
    margin-left: 24px;
  }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  POINT TO STORE                                                         ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.point-to-shop{
  position: fixed;
  display: flex;
    justify-content: center;
  
  flex-direction: row;
  bottom: 0px; left: 0px;
  width: 100%;
  height: 64px;
  z-index: 999;

  transition: justify-content .2s linear;
}

body[data-state='shop'] .point-to-shop{ justify-content: flex-start }

.point-to-shop button{
  padding: 8px;
  border: none;
  background: none;
  transition: all .1s linear;
}

@media (min-width: 800px){
  .point-to-shop button:hover{
    animation: pointerFinger .5s linear 0s infinite
  }
}

body[data-state='shop'] .point-to-shop button{
transform: rotate(180deg);
}

.point-to-shop button svg{
width: 56px;
transform: rotate(90deg);
}

.point-to-shop button svg path{
stroke-width: 24px;
stroke-linecap: round;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  PRODUCT                                                                ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.shop-zone .product{
  display: block;
  width: calc(100% - 8px);
  height: 364px;
  margin-bottom: 16px;
  overflow: hidden;

  transition: height .1s linear, padding-top .1s linear;
}

.shop-zone .product button.back{
  height: 0px;
  padding: 0px;
  border: 0px solid pink;
  overflow: hidden;

  font-family: 'Varela Round', sans-serif;
  font-size: .9em;
  text-transform: uppercase;

  transition: height .1s linear, padding .1s linear, border .1s linear;
}

.shop-zone .product[data-status='active'] button.back{
  position: relative;
  overflow: visible;
  height: 24px;
  padding: 0 8px 0 12px;
  margin-bottom: 8px;
  margin-left: 16px;
}

.shop-zone .product[data-status='active'] button.back::after{
  content: '';
  position: absolute;
  top: 4px; left: -8px;
  width: 16px; height: 16px;
  transform: rotate(45deg);
}

.shop-zone .product button.product-image{
  width: 100%;
  height: 100%;
  background: none;
  padding: 0;
  border-radius: 4px;
}

.shop-zone .product[data-status='hidden']{ display: none }

body[data-current='krill'] .shop-zone .product[data-status='active'] { border-bottom: none }

.shop-zone .product svg .s{
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@media (min-width: 1250px){
  .shop-zone .product{
    width: calc(50% - 8px);
  }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  PRODUCT INFO                                                           ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.shop-zone .product .info{
  padding: 16px 0 64px 0;
  font-family: sans-serif;
}

body[data-state='home'] .shop-zone .product .info{ display: none }

.shop-zone .product .info h3{
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  font-size: 2.125em
}

.shop-zone .product .info p{
  margin: 0;
  margin-top: 8px;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.125em;
  line-height: 1.4;
}

.shop-zone .product .info form button{
  width: 100%;
  padding: 8px;
  border: none;
    border-radius: 2px;
  margin-top: 16px;

  font-family: 'Varela Round', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.shop-zone .product .info form fieldset.sizes{
  position: relative;
  display: flex;
    justify-content: space-between;
  margin-top: 12px;
  padding: 0 2px;
}

.shop-zone .product .info form fieldset.sizes input{
  position: fixed;
  opacity: 0;
  margin: 0;
}

.shop-zone .product .info form fieldset.sizes input + label{
  position: relative;
  width: calc(16.6666667% - 4px);
  padding: 12px 8px;
  border-radius: 2px;
  font-size: .9em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
