strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; margin: 0px } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } body *{box-sizing: border-box} html{ scroll-behavior: smooth }

body{
  height: 100vh; 
  overflow: hidden
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  COLOR CONTROL                                                          ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

svg path.s,
svg polyline.s,
svg polygon.s,
svg circle.s{ fill: none }

body[data-current='krill'] svg path{
  stroke: #4E000C;
}

/* FINAL STYLE */
body[data-current='krill']{ background: #EC0927 }
body[data-current='krill'] nav.top .cart-container .item-count{ background: #4E000C; color: #EC0927 }
body[data-current='krill'] nav.top .cart-container .item-count::before { background: #4E000C }
body[data-current='krill'] svg .s{ stroke: #4E000C }
body[data-current='krill'] svg .f{ fill: #4E000C }
body[data-current='krill'] nav.doodle-selector ul.mobile-selector li button{ color: #4E000C }
body[data-current='krill'] nav.doodle-selector ul.mobile-selector li button[data-status='selected']{ border: 4px solid #4E000C }
body[data-current='krill'] .shop-zone::-webkit-scrollbar-thumb{ background: #4E000C }
body[data-current='krill'] .to-shop{ background: #EC0927 }
body[data-current='krill'][data-state='shop'] .shop-zone .product { border-bottom: 4px solid #4E000C }
body[data-current='krill'][data-state='shop'] .shop-zone .product button { border: 4px solid #4E000C; border-radius: 4px }
body[data-current='krill'][data-state='shop'] .shop-zone .product .info{ color: #4E000C }

body[data-current='worm']{ background: #2E5EAA }
body[data-current='worm'] nav.top .cart-container .item-count{ background: #001C4A; color: #2E5EAA }
body[data-current='worm'] nav.top .cart-container .item-count::before { background: #001C4A }
body[data-current='worm'] svg .s{ stroke: #001C4A }
body[data-current='worm'] svg .f{ fill: #001C4A }
body[data-current='worm'] nav.doodle-selector ul.mobile-selector li button{ color: #001C4A }
body[data-current='worm'] nav.doodle-selector ul.mobile-selector li button[data-status='selected']{ border: 4px solid #001C4A }
body[data-current='worm'][data-state='shop'] .shop-zone .product { border: 5px solid #001C4A; border-radius: 4px; }

body[data-current='sunshine']{ background: #FFBF00 }
body[data-current='sunshine'] nav.top .cart-container .item-count{ background: #4E3C00; color: #FFBF00 }
body[data-current='sunshine'] nav.top .cart-container .item-count::before { background: #4E3C00 }
body[data-current='sunshine'] svg .s{ stroke: #4E3C00 }
body[data-current='sunshine'] svg .f{ fill: #4E3C00 }
body[data-current='sunshine'] nav.doodle-selector ul.mobile-selector li button{ color: #4E3C00 }
body[data-current='sunshine'] nav.doodle-selector ul.mobile-selector li button[data-status='selected']{ border: 4px solid #4E3C00 }
body[data-current='sunshine'][data-state='shop'] .shop-zone .product { border: 5px solid #4E3C00; border-radius: 4px; }

body[data-current='smiles']{ background: #FF4A1C }
body[data-current='smiles'] nav.top .cart-container .item-count{ background: #531200; color: #FF4A1C }
body[data-current='smiles'] nav.top .cart-container .item-count::before { background: #531200 }
body[data-current='smiles'] svg .s{ stroke: #531200 }
body[data-current='smiles'] svg .f{ fill: #531200 }
body[data-current='smiles'] nav.doodle-selector ul.mobile-selector li button{ color: #531200 }
body[data-current='smiles'] nav.doodle-selector ul.mobile-selector li button[data-status='selected']{ border: 4px solid #531200 }
body[data-current='smiles'][data-state='shop'] .shop-zone .product { border: 5px solid #531200; border-radius: 4px; }


.main-content{
  display: flex;
    justify-content: space-between;
    flex-direction: column;
  width: 100%;
  height: 100%;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  DRAW ZONE                                                              ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.draw-zone{
  width: 75%;
  height: 100%;
  margin: 0 auto;
  transition: width .2s linear, height .2s linear;
}

body[data-state='shop'] .draw-zone{ 
  height: 32vh;
  padding-top: 12vh;
}

body[data-state='shop'] nav.doodle-selector ul.mobile-selector{ top: 8vh; transform: scale(.75) }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  DOODLES                                                                ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.draw-zone .doodle{
  display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;

  transition: transform .2s linear;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  KRILL MEAT LOGO                                                        ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.draw-zone .doodle[data-current='krill'] svg{ animation: jiggleSvg .1s linear 0s infinite }
.draw-zone .doodle[data-current='krill'] svg .s{
  stroke-width: 12px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.draw-zone .doodle[data-current='krill'] svg .s:nth-of-type(1n){ animation: pulseLine 5s linear 0s infinite, shakeyLines .1s linear 0s infinite }
.draw-zone .doodle[data-current='krill'] svg .s:nth-of-type(2n){ animation: pulseLine 5s linear 0s infinite, shakeyLines .15s linear 0s infinite backwards}
.draw-zone .doodle[data-current='krill'] svg .s:nth-of-type(3n){ animation: pulseLine 5s linear 0s infinite, shakeyLines .2s linear 0s infinite backwards}
.draw-zone .doodle[data-current='krill'] svg .s:nth-of-type(4n){ animation: pulseLine 5s linear 0s infinite, shakeyLines .15s linear 0s infinite}
.draw-zone .doodle[data-current='krill'] svg .s:nth-of-type(5n){ animation: pulseLine 5s linear 0s infinite, shakeyLines .25s linear 0s infinite}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  WORM                                                                   ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.draw-zone .doodle[data-current='worm'] svg{ animation: jiggleSvg .1s linear 0s infinite }
.draw-zone .doodle[data-current='worm'] svg .s{
  stroke-width: 12px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.draw-zone .doodle[data-current='worm'] svg .s:nth-of-type(1n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .1s linear 0s infinite }
.draw-zone .doodle[data-current='worm'] svg .s:nth-of-type(2n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .15s linear 0s infinite backwards}
.draw-zone .doodle[data-current='worm'] svg .s:nth-of-type(3n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .2s linear 0s infinite backwards}
.draw-zone .doodle[data-current='worm'] svg .s:nth-of-type(4n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .15s linear 0s infinite}
.draw-zone .doodle[data-current='worm'] svg .s:nth-of-type(5n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .25s linear 0s infinite}
.draw-zone .doodle[data-current='worm'] svg .s:nth-of-type(7n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .3s linear 0s infinite backwards}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  SUNSHINE                                                               ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.draw-zone .doodle[data-current='sunshine'] svg{ animation: jiggleSvg .1s linear 0s infinite }
.draw-zone .doodle[data-current='sunshine'] svg .s{
  stroke-width: 12px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.draw-zone .doodle[data-current='sunshine'] svg .s:nth-of-type(1n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .1s linear 0s infinite }
.draw-zone .doodle[data-current='sunshine'] svg .s:nth-of-type(2n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .15s linear 0s infinite backwards}
.draw-zone .doodle[data-current='sunshine'] svg .s:nth-of-type(3n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .2s linear 0s infinite backwards}
.draw-zone .doodle[data-current='sunshine'] svg .s:nth-of-type(4n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .15s linear 0s infinite}
.draw-zone .doodle[data-current='sunshine'] svg .s:nth-of-type(5n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .25s linear 0s infinite}
.draw-zone .doodle[data-current='sunshine'] svg .s:nth-of-type(7n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .3s linear 0s infinite backwards}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  SMILES                                                               ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.draw-zone .doodle[data-current='smiles'] svg{ animation: jiggleSvg .1s linear 0s infinite }
.draw-zone .doodle[data-current='smiles'] svg .s{
  stroke-width: 12px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.draw-zone .doodle[data-current='smiles'] svg .s:nth-of-type(1n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .1s linear 0s infinite }
.draw-zone .doodle[data-current='smiles'] svg .s:nth-of-type(2n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .15s linear 0s infinite backwards}
.draw-zone .doodle[data-current='smiles'] svg .s:nth-of-type(3n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .2s linear 0s infinite backwards}
.draw-zone .doodle[data-current='smiles'] svg .s:nth-of-type(4n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .15s linear 0s infinite}
.draw-zone .doodle[data-current='smiles'] svg .s:nth-of-type(5n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .25s linear 0s infinite}
.draw-zone .doodle[data-current='smiles'] svg .s:nth-of-type(7n){ animation: pulseLineThin 5s linear 0s infinite, shakeyLines .3s linear 0s infinite backwards}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  SHOP ZONE                                                              ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.shop-zone{
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height .2s linear;
}

.shop-zone::-webkit-scrollbar{
  border: none;
  width: 5px;
  background: none;
}
.shop-zone::-webkit-scrollbar-button{
  display: none;
}
.shop-zone::-webkit-scrollbar{
  background: none;
  border: none;
}
.shop-zone::-webkit-scrollbar-thumb{
  border-radius: 4px;
}

body[data-state='shop'] .shop-zone{
  width: calc(100% - 24px);
  height:68vh;
  margin: 0 8px 0 16px;
  overflow: scroll;
}

body[data-state='shop'] .shop-zone[data-state='info']{
  
}

body[data-state='shop'] .shop-zone .product{
  display: block;
  width: calc(100% - 8px);
  height: 364px;
  margin-bottom: 16px;
  overflow: hidden;

  transition: height .1s linear;
}

body[data-state='shop'] .shop-zone .product button{
  width: 100%;
  height: 100%;
  background: none;
  padding: 0;
}

body[data-state='shop'] .shop-zone .product[data-status='hidden']{ display: none }

.shop-zone .product svg{
  margin-top: -64px;
}

.shop-zone .product svg .s{
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.shop-zone .product .info{
  padding: 16px 0;
  font-family: sans-serif;
}

.shop-zone .product .info h3{
  margin: 0;
  font-size: 2.125em
}

.shop-zone .product .info p{
  margin: 0;
  margin-top: 8px;
  line-height: 1.4;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  NAVIGATION                                                             ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav{
    position: fixed;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  TOP NAVIGATION                                                         ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
nav.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px; left: 0px;
    width: 100%;
    padding: 8px;
    z-index: 99;
}

nav.top a:hover,
nav.top button:hover{
  animation: jiggleSvg .2s linear 0s infinite;
  cursor: pointer;
}

nav.top h1{
  width: calc(25vw - 16px);
    min-width: 88px;
    max-width: 120px;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.25em;
}

nav.top h1 a{
  display: block;
  width: 100%;
}

nav.top h1 svg{
  display: block;
  width: 100%;
}

nav.top ul.socials{
  display: flex;
  height: 100%;
}

nav.top ul.socials a{
  display: block;
  height: 32px;
}

nav.top ul.socials svg{
  height: 32px;
}

nav.top .cart-container{
  position: relative;
  width: calc(25vw - 16px);
    max-width: 120px;
  text-align: right;
}

nav.top .cart-container .item-count{
  position: absolute;
  top: -6px; right: 48px;
  padding: 4px 8px;
  border-radius: 3px;
}

nav.top .cart-container .item-count::before{
  content: '';
  position: absolute;
  top: calc(50% - 4px); right: -4px;
  width: 8px; height: 8px;
  transform: rotate(45deg);
}

nav.top .cart-container button{
    background: none;
    border: none;
    padding: 0px;
    margin: 0;
    height: 40px;
}

nav.top button svg{
    height: 40px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  DOODLE SELECTOR                                                        ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.doodle-selector{ position: relative }

nav.doodle-selector ul.desktop-selector{
    top:0px; left: 0px;
    width: 100px;
    height: 100%;
        flex-direction: column;
        justify-content: center;
    display: none;
    padding-bottom: 16px;
    transform: scale(.8)
}

nav.doodle-selector ul.desktop-selector ul{
    display: flex;
    flex-direction: column;
}

nav.doodle-selector ul.desktop-selector ul li button{
    padding: 8px;
    width: 90px; height: 90px;
    background: none;
    border: none;
}

nav.doodle-selector ul.desktop-selector ul li button:hover{
    animation: jiggleSvg .2s linear 0s infinite;
}

nav.doodle-selector ul.desktop-selector ul li button img{
    width: 100%;
}

nav.doodle-selector ul.mobile-selector{
  position: fixed;
    align-items: center;
  top: 20vh; left: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav.doodle-selector ul.mobile-selector li{ margin: 0 4px;
}

nav.doodle-selector ul.mobile-selector li button{
  border: none;
  background: none;
  font-size: 2em;
  border: none;
    border-radius: 50%;
  padding: 0;
    padding-top: 4px;
  line-height: .4;
}

nav.doodle-selector ul.mobile-selector li button:hover{
  animation: jiggleSvg .2s linear 0s infinite;
}

nav.doodle-selector ul.mobile-selector li button[data-status='selected']{
  padding-top: 0;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  POINT TO STORE                                                         ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.right-button{
    position: fixed;
    /* top: 0px; right: 0px; */
    /* width: 100px;
    height: 100%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    
    flex-direction: row;
    bottom: 0px; left: 0px;
    width: 100%;
    height: 64px;
}

.right-button button{
    padding: 8px;
    border: none;
    background: none;
    transition: all .1s linear;
}

.right-button button:hover{
    /* animation: pointerFinger .5s linear 0s infinite; only on dotcom */
}

body[data-state='shop'] .right-button button{
  transform: rotate(180deg);
}

.right-button button svg{
  width: 56px;
  transform: rotate(90deg);
}

.right-button button svg path{
  stroke-width: 24px;
  stroke-linecap: round;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  COLORS                                                                 ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.main-content[data-current='worm-image']{ background: rgb(46,121,211); background: radial-gradient(circle, rgba(46,121,211,1) 0%, rgba(46,121,211,1) 35%, rgba(31,101,190,1) 100%) }
.main-content[data-current='sunshine-image']{ background: rgb(249,255,0); background: radial-gradient(circle, rgba(249,255,0,1) 0%, rgba(232,230,27,1) 35%, rgba(232,230,27,1) 100%) }
.main-content[data-current='smiles-image']{ background: rgb(255,162,0); background: radial-gradient(circle, rgba(255,162,0,1) 0%, rgba(255,162,0,1) 35%, rgba(228,134,9,1) 100%) }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  DRAW ZONE                                                              ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* 

.main-content[data-status='store'] .draw-zone{ width: 40%; padding-left: 42px }

.main-content[data-status='store'] .draw-zone{ transform: scale(.7) }

.draw-zone .doodle[data-status='active']{
    display: flex;
} */

.draw-zone svg{
        justify-content: center;
        align-items: center;
    width: 100%;
    height: 100%;
}

.draw-zone .worm-image{
        justify-content: center;
        align-items: center;
    height: 100%;
}

.worm-image svg{
    width: 500px;
    animation: jiggleSvg .1s linear 0s infinite;
}

.worm-image svg .st0, .worm-image svg .st1{
    fill: none;
    stroke: #010d1d;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: pulseLineWorm 5s linear 0s infinite;
}

.worm-image svg .st2{
    fill: #010d1d;
}




.draw-zone .sunshine-image svg{
    width: 500px;
    animation: jiggleSvg .1s linear 0s infinite;
}

.draw-zone .sunshine-image svg .st2{
    fill: none;
    stroke: #110900;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: pulseLineWorm 5s linear 0s infinite;
}

.draw-zone .sunshine-image svg .st1{
    fill: #110900;
}

.draw-zone .sunshine-image svg .st2:nth-of-type(1n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .1s linear 0s infinite }
.draw-zone .sunshine-image svg .st2:nth-of-type(2n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .15s linear 0s infinite backwards}
.draw-zone .sunshine-image svg .st2:nth-of-type(3n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .2s linear 0s infinite backwards}
.draw-zone .sunshine-image svg .st2:nth-of-type(4n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .15s linear 0s infinite}
.draw-zone .sunshine-image svg .st2:nth-of-type(5n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .25s linear 0s infinite}
.draw-zone .sunshine-image svg .st2:nth-of-type(7n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .3s linear 0s infinite backwards}

.draw-zone .smiles-image svg{
    width: 500px;
    animation: jiggleSvg .1s linear 0s infinite;
}

.draw-zone .smiles-image svg .st1{
    fill: none;
    stroke: #110502;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: pulseLineWorm 5s linear 0s infinite;
}

.draw-zone .smiles-image svg .st0{
    fill: #110502;
}

.draw-zone .smiles-image svg .st1:nth-of-type(1n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .1s linear 0s infinite }
.draw-zone .smiles-image svg .st1:nth-of-type(2n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .15s linear 0s infinite backwards}
.draw-zone .smiles-image svg .st1:nth-of-type(3n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .2s linear 0s infinite backwards}
.draw-zone .smiles-image svg .st1:nth-of-type(4n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .15s linear 0s infinite}
.draw-zone .smiles-image svg .st1:nth-of-type(5n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .25s linear 0s infinite}
.draw-zone .smiles-image svg .st1:nth-of-type(7n){ animation: pulseLineWorm 5s linear 0s infinite, shakeyLines .3s linear 0s infinite backwards}